#topnav{
    display: flex;
    gap: 80%;
    margin-bottom: 0px;
    background-color: darkslategrey;
    position: fixed;
    top: 0;
    width: 100%;
    
}

#heading1{
background-image: url('pictures.html/coffeeshop.jpg');
}

#bh{
    font-size: 100px;
color: #f2f3f5;
text-align: center;
padding: 400px 400px 10px 400px;
}

#para{
    font-size: 30px;
    color: #f2f3f5;
    text-align: center;
    padding: 20px 20px 200px 20px;
}
.n1{
    padding: 30;
    border: 2px;
    width: 30%;
}
.n2{
    padding: 16;
    border: 2px;
    width: 30%;
}
.n3{
    padding: 16;
    border: 2px;
    width: 30%;
}
.n4{
    padding: 16;
    border: 2px;
    width: 30%;
}
.co-image{
    scale: grey;
    margin-top: 5%;
    margin-left: 20%;
}
.container{
    scale: gray; scale: min;
    font-size: x-large;
    padding-top: 32;
    background-color: rgba(117, 54, 24, 0.596);
}
#intro{
    text-align: center;
    margin-top: 8%;
    color: #f2f3f5;
    font-size: 20px;
    font-style: oblique;
}
#frm{
    margin-left: 20%;
}
.co{
    color: aliceblue;
    font-style: oblique;
}
#details{
    color: aliceblue;
    font-style: oblique;
}
body{
    background-image: url('pictures.html/bg.jpg');
    min-height: 500px;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}
#slog{
    background-color: rgba(71, 40, 3, 0.349);
}
 #anime{ 
    width: 300px;
    height: 200px;
    background-image: url('pictures.html/ham3s.jpeg');
    position: relative;
    animation-name: burger;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    background-repeat: no-repeat;
    font-style: italic;
    margin-left: 700px;
    font-size: x-large;

}
#animate{ 
width: 300px;
    height: 300px;
    background-image: url('pictures.html/ham.jpeg');
    position: relative;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    background-repeat: no-repeat;

}
@keyframes burger {
    from{background-image: url('pictures.html/ham.jpeg');}
    to{background-image: url(pictures.html/ham3s.jpeg); }
}
#anim{
    width: 300px;
    height: 300px;
    position: relative;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    background-repeat: no-repeat;
    animation-name: love;
}
#nime{
    width: 10px;
    height: 300px;
    background-image: url('pictures.html/love\ is.jpg');
    position: absolute;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    background-repeat: no-repeat;
}
@keyframes love {
    from{background-image: url('pictures.html/hum2jpeg');}
    to{background-image: url('pictures.html/love\ is.jpg'); }
}

#hamb{
    margin-top: 5%;
    margin-left: 800px;
    
}

#ads{
    text-align: center;
    font-weight: 900;
    font-size: x-large;
    color: rgb(107, 250, 11);
}
#s{
    margin-top: 5%;
}
#block1{
    display: flex;
    color: white;
    font-style: italic;
    font-weight: 700;
}
#block2{
    display: flex;
    color: #f2f3f5;
    font-style: italic;
}
#text1{
    background-color: black;
}
input{
    width: 100%;
    height: 50px;
    color: chocolate;
    font-size: large;
}
/* #animate{
    width: 500px;
    height: 50px;
    position: absolute;

} */

#chef {
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
  }
  
  #chef:hover {opacity: 0.7;}
  
  .mychef {
    display: none; 
    position: fixed; 
    z-index: 1; 
    padding-top: 100px; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%;
    overflow: auto; 
    background-color: rgb(0,0,0); 
  }
  
  .mychef-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
  }
  
  #caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 900px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
  }
  
  .mychef-content, #caption {  
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
  }
  
  @-webkit-keyframes zoom {
    from {-webkit-transform:scale(0)} 
    to {-webkit-transform:scale(1)}
  }
  
  @keyframes zoom {
    from {transform:scale(0)} 
    to {transform:scale(1)}
  }
  
  .close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
  }
  
  .close:hover,
  .close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
  }
  
#hero-image{
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("pictures.html/drinks.jpg");
  height: 50%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative; 
}
#nav{
    background-color: darkslategrey;
    position: fixed;
    top: 0;
    width: 100%;
    

}
#topnavmenu{
    display: flex;
    background-color: cadetblue;
    justify-content: space-evenly; 
    color: black;  
} 
#topnavmenu a{
    text-decoration: none;
    margin-top: 2%;
    color: black;
}
#menubar{
    display: flex;
    gap: 5%;
    margin-left: 300px;
    width: 200px;
    
}
#nav{
    position: fixed;
    top: -50px;
    display: block;
    transition: top 0.3s;
    width: 100%;  
}
#container{
    background-color: white;
}
#footer{
display: flex;
gap: 3%;
font-size: larger;
background-color: cadetblue;
margin-top: 10%;
}
 #about{
    margin-left: 340px; 
    
}
#details{
    color: black;
    /* margin-left: 350px; */
} 
#cake{
    margin-top: 2%;
    border-radius: 50%;
}
#copyright{
    background-color: navy;
    margin-bottom: 5%;

}
/* .dropbutton {
  background-color: #4CAF50;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbutton {
  background-color: #3e8e41;
} */





  @media only screen and (max-width: 700px){
    .modal-content {
      width: 100%;
    }
  }
  